.navbar {
    z-index: 555;
    border-top: 5px solid #BA4A2C;
    padding: 0;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar__logo {
    padding: 0 24px;
    line-height: 70px;
}

.navbar__button {
    height: 70px;
    text-align: center;
    line-height: 70px;
    padding: 0 24px !important;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.navbar__button:hover {
    background-color: #BA4A2C;
    color: #FFCBA3;
    cursor: pointer;
}

.modal-content {
    padding: 24px;
    padding-bottom: 64px;
}

.form_input input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 .25rem rgba(186, 74, 44, .25);
}

.return_button {
    transition: all .5s;
    padding: 4px;
}

.return_button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.return_button svg{
    font-size: 30px;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.slideIn {
    animation-name: slideIn;
    animation-duration: 1s;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

.password-toggle {
    transition: all .3s;
    font-size: 20px;
}

.password-toggle:hover {
    cursor: pointer;
    opacity: .8;
}

.loading-icon {
    font-size: 20px;
}

.loading-icon svg {
    animation: loading 1s ease-in-out infinite;
}

.logout__container:hover {
    cursor: pointer;
}

.logout__container:hover > .action_container {
    cursor: pointer;
    display: block;
}

.action_container {
    display: none;
    position: absolute;
    right: 0;
    border-radius: 4px;
    background-color: rgba( 255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.4);
    animation: fadeIn .5s ease-in-out;
    overflow: hidden;
}

.action__button {
    height: 30px;
    line-height: normal;
    align-content: center;
}

.action__button::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: transparent;
    top: -10px;
    left: 0;
}