:root {
  --primary-color: #BA4A2C;
  --secondary-color: #FFCBA3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  padding: 120px 0;
  background-color: #252020;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}